<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User data form</title>
  </head>
  <body>
    <center>
      <form action="/addData" method="post">
        First name: <input type="text" name="firstName" value="" required=true> <br><br>
        Second name: <input type="text" name="secondName" value="" required=true> <br><br>
        Age: <input type="number" name="age" value="" required=true> <br><br>
        Student:
        <input type="radio" name="isStudent" value="true" required=true> Yes
        <input type="radio" name="isStudent" value="false" required=true> No <br><br>
        Mother tongue: <input type="text" name="motherTongue" value="" required=true> <br><br>
        <input type="submit" name="" value="submit">
      </form>
    </center>
  </body>
</html>
